.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 580px;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

body{
    background-color:  gray;
}

.new {
    display: flex;
    border-bottom: 10px;
}

input {
    border-bottom: 10px;
    border:solid 1px;
    box-shadow: 1px 1px 1px 1px black;  
    width: 110%;
    height: 40px;
    border-radius: 2em;
    display: flex;
}

.btn {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 30px;
    align-items: center;
  }

