.cardTime {
  display: flex;
  flex-direction: row;
  width: 200px;
  cursor: pointer;
}
.imgTime {
  max-width: 200px;
  max-height: 300px;
  border-radius: 40%;
  border: 4px solid #ccc2a6;
  transition: 0.8s;
}
.imgTime:hover {
  border: 4px solid black;
}

.buttonCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 40%;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}
.nameCard {
  font-family: "Ink Free";
  font-size: 20px;
  font-weight: 600;
}
.buttonIcon {
  height: 30px;
  width: 30px;
  margin-left: 300px;
  transition: 0.5s;
}

.buttonIcon:hover{
  height: 35px;
  width: 35px;
}

.acordeon {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.cardText {
  font-family: "Ink Free";
  font-size: 15px;
  animation: AnimaBaixo 0.8s linear;
  margin-top: 0;
  
}

@keyframes AnimaBaixo {
  0%{
    opacity: 0;
  } 
  100%{
    opacity: 1;
  }
}
