.CardInput {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10vh;
  flex-direction: row;
}

.btn {
  margin-top: 20px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.titulo{
  margin-top: 10px;
  align-items: center;
  text-align: center;
  font-family: 'Perpetua';
  font-size: 30px;
}

.teste{
  align-items: center;
  justify-content: center;
  display: flex;
}