.footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(32, 32, 32);
    grid-area: footer;
    margin-top: 0px;
    position: relative;
    width: 100vw;
    bottom: 0;
    
    
}

.textFooter{
    color: #ccc2a6;
    font-size: 18px;
    text-align: center;
}

.icones{
    padding: 1px;
}

.footerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

i {
    color: burlywood; 
    margin-right: 15px;
}

.endereco  {
    
    display: flex;
    grid-template-columns: 260px 50px;
    column-gap: 10px;
    justify-content: space-around;
    color:burlywood;
    font-size: 15px;
    margin-top: 1px;
}


@media screen and (width: 500px) { 
	/* estilização para larguras de viewport exatamente igual a 500px */
}    


