.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 32);
    grid-area: footer;
    position: relative;
    width: 100%;
    bottom: 0;
}

.textFooter{
    color: #ccc2a6;
    font-size: 15px;
}