.container {
  display: grid;
  grid-template-areas:
    "title title title"
    "card card card"
    "card card card";
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px repeat(3, auto);
  grid-gap: 20px;
  margin-left: 80px;
  margin-bottom: 50px;
}
.title {
  grid-area: title;
}
.cards {
  grid-area: card;
}
