.container {
  display: grid;
  grid-template-areas:
    "title title "
    "item item "
    "item item"
    "item item";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 30% 30% 30%;
  grid-gap: 20px;
  margin-left: 80px;
  margin-bottom: 100px;
}
.title {
  margin-top: 20px;
  grid-area: title;
  text-align: center;
  font-family: "Ink Free";
  font-weight: 600;
  font-size: 25px;
  color: #ccc2a6;
}
