.App{
    display: grid;
    grid-template-areas: 
    "header header"
    "ads article"
    "ads article"
    "footer footer";
    grid-template-rows: 80px 120px 1fr 70px;  
    grid-template-columns: 20% 1fr;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}